{% extends "base.html" %}

{% block header %}
    <h1>Vampire Hunter Code Sources</h1>
{% endblock %}

{% block main_content %}
    <h2>Attributions</h2>
    <p>This project uses multiple new concepts that were self-thought:</p>
    <ul>
        <ol>
            <li><a href="https://www.w3schools.com/jsref/jsref_atan2.asp">atan2</a>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/atan2">atan2</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/hypot">hypot</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/cos">cos</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/sin">sin</a></li>
        </ol>
        <li><a href="https://www.w3schools.com/js/js_this.asp">this</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this">this</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/setTimeout">setTimeout</a></li>
        <li><a href="https://www.freecodecamp.org/news/what-does-the-dollar-sign-mean-in-javascript/#:~:text=The%20dollar%20sign%20followed%20by,m%20%24%7Bage%7D%20years%20old.">template literals using $</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/const">using const</a></li>
    </ul>
{% endblock %}