{% extends "base.html" %}


{% block header %}
<h1>Vampire Hunter</h1>
{% endblock %}

{% block main_content %}

<p>Before jumping in, here's a few instructions to get you ready.</p>

<p>
    You can only deal damage to the monsters while they are hooked and pulled in close.
</p>

<h3>Derek Powers (must be commented out)</h3>
<ul>
    <li>Press I for invincibility.</li>
    <li>Press N to skip the wave.</li>
</ul>

<h3>Movement</h3>
<ul>
    <li>Up: W</li>
    <li>Down: S</li>
    <li>Left: A</li>
    <li>Right: D</li>
</ul>

<h3>Controls:</h3>
<ul>
    <li>Press E to fire the hook.</li>
    <li>Press R to reel back in the hook.</li>
    <li>Click to deal damage while reeled in close.</li>
</ul>

<p class="game"><a href="{{ url_for('play') }}">PLAY</a></p>

<p>
    <a href="{{ url_for('attributions') }}">Attributions</a>
</p>

{% endblock %}